*{
  box-sizing: border-box;
}

.flex-container{
  border: 10px solid lime;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  padding: 20px;
  height: 80vh;
}

.flex-item{
  width: 50px;
  background-color: brown;
  border: 5px solid blue;
  color: white;
  font-family: sans-serif;
  padding: 10px 5px;
  text-align: center;
}

a.flex-item{

  padding: 30px;
}

.item-stretch{
  max-width: 20px;
  max-height: 20px;
  padding: 30px;
}